$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";
$colors: (
  primary:    #bbd1e4,
  primary-2:   #131313,
  secondary:  #5c6264,
  danger:     #f53d3d,
  light:      #f5f5f5,
  dark:       #222
);

// toolbar
$toolbar-md-background: color($colors, secondary);

$tabs-md-background: color($colors,secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);
$tabs-md-tab-color-inactive: color($colors, dark);
$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);

@import "ionic.theme.default";

@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
